[Desktop Entry]
Name=Fallout Splashscreen 4K
Comment=Splashscreen basé sur Pip-Boy animé
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Name=fallout-splashscreen4k
X-KDE-PluginInfo-Version=11.0
X-KDE-PluginInfo-Author=PapaOursPolaire
X-KDE-PluginInfo-Email=papaoursgamer@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=https://github.com/PapaOursPolaire
X-KDE-PluginInfo-Category=SplashScreen
