[Desktop Entry]
Name=PipBoy KDE Splash
Comment=Custom PipBoy splash screen animation
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel

[X-KDE-PluginInfo]
Name=kde
Author=PapaOursPolaire
Email=none@example.com
Version=1.0
Website=https://github.com/PapaOursPolaire/BearGrubChanger
License=MIT
