[Desktop Entry]
Name=SDDM Custom
Comment=Thème SDDM personnalisé avec fond vidéo/GIF/images aléatoires
Type=Service
X-KDE-PluginInfo-Author=PapaOursPolaire
X-KDE-PluginInfo-Email=papaoursgamer@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
